<%@ Page Language="VB" %>
<%@ Import Namespace = "System.Data.SqlClient" %>
<!--#include file="/conn/conn.html"-->
<script language="VB" runat="server">

	Public TheGrandtotal As Single
	Public TheCurrency As String
	Public TheFullName As String
	
	Protected Overrides Sub OnError(ByVal e as System.EventArgs) 
		Response.Redirect("http://www.b12cream.com/index.html")
	End Sub


    Protected Function SqlEnc(ByVal a As String) As String
	
        Dim TempS As String = ""
		
        If Not a Is DBNull.Value Then
            TempS = Trim(Replace(a, "'", "''"))
            TempS = Replace(TempS, vbCrLf, "")
        End If
        Return TempS
    End Function
	
	
    
    Sub Page_Load()
        
        Dim conn As New SqlConnection(ConnString)
        Dim dr As SqlDataReader
        Dim sql As New SqlCommand
     	'If Session("ClientID") < 1 Then
      		'Response.Redirect("/viewcart.html")
       	'End If
		If Request.QueryString("custom") = "returned" or Request.Form("custom") = "returned" Then
			Response.Redirect("https://www.b12cream.com/04_thankyou.html?P=P")
		End If		


        conn.Open()
        'Start check cart for items
        sql = New SqlCommand("SELECT Grandtotal,GrandtotalC,ShipFName + ' ' + ShipLName As FullName From Invoice WHERE Invoice=" & Session("Invoice"), conn)
        dr = sql.ExecuteReader()
        If dr.Read Then
			If Session("InCAD") = 0 Then
				TheGrandtotal = dr("Grandtotal")
				TheCurrency = "USD"
				TheFullName = dr("FullName")
			Else
				TheGrandtotal = dr("GrandtotalC")
				TheCurrency = "CAD"
				TheFullName = dr("FullName")
			End If
        Else
            dr.close()
            Conn.Close()
            dr = Nothing
            conn = Nothing
            Response.Redirect("http:/www.b12cream.com/index.html")

        End If
		
		
    End Sub
</script>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
   	<title>Check out by PayPal| BioZkin B12 Plus+ Cream</title>
	<meta name="description" content="check out page using PayPal as billing method">

	<!-- Bootstrap -->
	<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- custom css -->
	<link href="css/grid.css" type="text/css" rel="stylesheet">
	<link href="css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="grid col-12">
	<nav class="navbar navbar-default nav-bioevolve" role="navigation">
		<div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">
                    <img src="img/bioevolve_logo.png" alt="BioZkin Brand" id="navLogo">
                </a>
	        </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"><li><a href="index.html">B12</a></li>
                    <li><a href="01_about.html">Brand</a></li>
                    <li><a href="02_ship.html">Shipping</a></li>
                    <li><a href="03_contact.html">Contact</a></li>
                    <li><a href="05_wholesale.html">Wholesale</a></li>
                    <li><a href="07_termsandconditions.html">Policy</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>							
                		<a href="">Hello Customer</a>
                		<ul class="dropdown">
                			<li><a href="06_account.html">My Account</a></li>
						    <li><a href="06_history.html">Order History</a></li>
						    <li><a href="06_login.html?L=O">Log Out</a></li>
						</ul>
					</li>
	            	<li><a href="04_cart.html">Shopping Cart</a></li>
	            </ul>
	        </div>
	    </div>
	</nav>
	<div class="free-shipping">
		<img src="img/freeshipping-box-icon.png" alt="free shipping icon">
		<p>
			Free expedited shipping to North America on orders $99 or more. 
			Free Xpresspost shipping Internationally on orders $199 or more.
		</p>
		<img src="img/freeshipping.png" alt="free shipping icon">
	</div>
</div>

<script>
$(function() {
    if (location.pathname.split("/")[1] == "") {
        $('nav a[href^="/index.html"]').addClass('active');
    } else {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    }
});
</script>


	<div class="grid shopping-cart" id="pageCheckout">
		<div class="col-12of14">
			<h1>Redirecting to PayPal... If you are not redirected within 10 seconds, click the button below.</h1>
		</div>

		<div class="col-12of14 log-in">
			<form name="checkout" id="checkout" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_cart">
				<input type="hidden" name="upload" value="1">
				<input type="hidden" name="business" value="rx@biosensepharmacy.com">
				<input type="hidden" name="item_name_1" value="B12Cream.com Invoice <%= Session("Invoice") %>">
				<input type="hidden" name="amount_1" value="<%= TheGrandtotal %>">
				<input type="hidden" name="currency_code" value="<%= TheCurrency %>">
				<input type="hidden" name="invoice" value="<%= Session("Invoice") %>">
				<input type="hidden" name="return" value="https://www.biosensehealth.com/thankyou.html?P=P">
				<input type="hidden" name="custom" value="returned">
				<input type="hidden" name="img_url" value="https://www.biosenseclinical.com/Images/150x50paypal.png">
				<input type="hidden" name="cpp_cart_border_color" value="74ba00">
				<input type="hidden" name="cpp_logo_image" value="https://www.biosenseclinical.com/Images/150x50paypal.png">
				<input type="hidden" name="no-note" value="1">
				<input type="hidden" name="no-shipping" value="1">
				<input type="submit" value="Continue to PayPal">
			</form>
		</div>



	</div>


	<!--#include file="footer.html"-->
	


<script src="js/ios_doubleTap_disable.js"></script>
<script LANGUAGE="JavaScript">
	setTimeout('document.checkout.submit()',1000);
</script>

</body>
</html>