<%@ Page Language="VB" %>
<%@ Import Namespace = "System.Data.SqlClient" %>
<!DOCTYPE html>
<!--#include file="/conn/conn.html"-->
<script language="vb" runat="server">

	Public TheFullName As String
	Public TheInvoiceNumber(1) As Integer
	Public TheInvoiceDate(1) As String
	Public TheInvoiceStatus(1) As String
	Public TheInvoiceTotal(1) As Single
	Public TheInvoiceCurrency(1) As String
	Public III As Integer
	Public NumRows As Integer
	Public TheError As String = ""

	Protected Overrides Sub OnError(ByVal e as System.EventArgs) 
		Response.Redirect("http://www.b12cream.com/index.html")
	End Sub

    Protected Function SqlEnc(ByVal a As String) As String
	
        Dim TempS As String = ""
		
        If Not a Is DBNull.Value Then
            TempS = Trim(Replace(a, "'", "''"))
            TempS = Replace(TempS, vbCrLf, "")
        End If
        Return TempS
    End Function
	
 
	Sub Page_Load()
        Dim conn As New SqlConnection(ConnString)
        Dim dr As SqlDataReader
        Dim sql As New SqlCommand
        Dim II As Integer
		Dim TempStr(2) As String
		
        If Session("ClientID") < 1 Then
            Response.Redirect("06_login.html")
        End If
 		
        conn.Open()

        sql = New SqlCommand("SELECT COUNT(*) As NumRows FROM Invoice WHERE Site = " & Session("TheCurrentSite") & " AND Deleted = 0 AND ClientID = " & Session("ClientID"), conn)
        dr = sql.ExecuteReader()
        If dr.Read Then
            NumRows = dr("NumRows")
        Else
            NumRows = 0
        End If
        dr.Close()

 

        If NumRows > 0 Then
			ReDim TheInvoiceNumber(NumRows)
			ReDim TheInvoiceDate(NumRows)
			ReDim TheInvoiceStatus(NumRows)
			ReDim TheInvoiceTotal(NumRows)
 			ReDim TheInvoiceCurrency(NumRows)
                
				sql = New SqlCommand("SELECT Invoice,[Date],Fulfill,Grandtotal,GrandtotalC, InCDN FROM Invoice WHERE Site = " & Session("TheCurrentSite") & " AND Deleted = 0 AND ClientID = " & Session("ClientID") & " ORDER BY [Date] DESC", conn)
            
            dr = sql.ExecuteReader()

            II = -1
            While dr.Read
                II = II + 1
                If NOT IsDBNull(dr("Grandtotal")) Then
					If dr("InCDN") <> 0 Then
						TheInvoiceTotal(II) = dr("GrandtotalC")
						TheInvoiceCurrency(II) = " CAD"
					Else
						TheInvoiceTotal(II) = dr("Grandtotal")
						TheInvoiceCurrency(II) = " USD"
					End If
	                TempStr = Split(dr("Date")," ")
					TheInvoiceDate(II) = TempStr(0)
	                TheInvoiceStatus(II) = dr("Fulfill")
					TheInvoiceNumber(II) = dr("Invoice")
				End If
            End While
            dr.Close()
            conn.Close()
            dr = Nothing
            conn = Nothing

        End If
              
	End Sub

</script>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
   	<title>Order History | BioZkin B12 Plus+ Cream</title>
	<meta name="description" content="Customer order history list">

	<!-- Bootstrap -->
	<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- custom css -->
	<link href="css/grid.css" type="text/css" rel="stylesheet">
	<link href="css/main.css" type="text/css" rel="stylesheet">

</head>

<body>
	<div class="grid col-12">
	<nav class="navbar navbar-default nav-bioevolve" role="navigation">
		<div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">
                    <img src="img/bioevolve_logo.png" alt="BioZkin Brand" id="navLogo">
                </a>
	        </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"><li><a href="index.html">B12</a></li>
                    <li><a href="01_about.html">Brand</a></li>
                    <li><a href="02_ship.html">Shipping</a></li>
                    <li><a href="03_contact.html">Contact</a></li>
                    <li><a href="05_wholesale.html">Wholesale</a></li>
                    <li><a href="07_termsandconditions.html">Policy</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>							
                		<a href="">Hello Customer</a>
                		<ul class="dropdown">
                			<li><a href="06_account.html">My Account</a></li>
						    <li><a href="06_history.html">Order History</a></li>
						    <li><a href="06_login.html?L=O">Log Out</a></li>
						</ul>
					</li>
	            	<li><a href="/04_cart.html">Shopping Cart</a></li>
	            </ul>
	        </div>
	    </div>
	</nav>
	<div class="free-shipping">
		<img src="img/freeshipping-box-icon.png" alt="free shipping icon">
		<p>
			Free expedited shipping to North America on orders $99 or more. 
			Free Xpresspost shipping Internationally on orders $199 or more.
		</p>
		<img src="img/freeshipping.png" alt="free shipping icon">
	</div>
</div>

<script>
$(function() {
    if (location.pathname.split("/")[1] == "") {
        $('nav a[href^="/index.html"]').addClass('active');
    } else {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    }
});
</script>

	<div class="grid" id="pageHistory">
		<div class="col-12of14">
			<h2>My Account</h2>
			<a href="06_account.html"><button class="buy">Back to Profile</button></a>
		</div>
		<div class="col-12of14 profile">
			<h5>Order History</h5>
			<div class="col-3of12">
				<h3><strong>Invoice</strong></h3>
			</div>
			<div class="col-3of12">
				<h3><strong>Date</strong></h3>
			</div>
			<div class="col-3of12">
				<h3><strong>Total</strong></h3>
			</div>
			<div class="col-3of12">
				<h3><strong>Status</strong></h3>
			</div>

			<% For III = 0 To NumRows - 1 
			%>
	    		<div class="col-3of12">
					<h3><a href="06_invoice.html?I=<%= TheInvoiceNumber(III) %>"><%= TheInvoiceNumber(III) %></a></h3>
				</div>
				<div class="col-3of12">
					<h3><%= TheInvoiceDate(III) %></h3>
				</div>
				<div class="col-3of12">
					<h3><%= FormatCurrency(TheInvoiceTotal(III),2) & TheInvoiceCurrency(III) %></h3>
				</div>
				<div class="col-3of12">
					<h3><%= TheInvoiceStatus(III) %></h3>
				</div>
			<% Next %>
		</div>
	</div>


	<!--#include file="footer.html"-->

<script src="js/ios_doubleTap_disable.js"></script>
<script src="js/sticky-footer.js"></script>
</body>
</html>